DATABASE_URL=postgresql://username:password@localhost:5432/miamore_db
PGUSER=your_pg_username
PGPASSWORD=your_pg_password
PGDATABASE=miamore
PGHOST=localhost
PGPORT=5432
JWT_SECRET=your_jwt_secret_here