DATABASE_URL=postgresql://username:password@localhost:5432/miamore_db

PGUSER=postgres
PGPASSWORD=root
PGDATABASE=miamore
PGHOST=localhost
PGPORT=5432

JWT_SECRET=CFoJy9csauDWon3fhdTcviGLMZt6afHm

EMAIL_USER=rafseno78rush@gmail.com
EMAIL_PASS=nbkivrmgkdhezwfb

OPENAI_API_KEY=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

PAYMONGO_SECRET_KEY=sk_test_vSoZAvMHcFxyR9oir4Mhhd89
PAYMONGO_PUBLIC_KEY=pk_test_y7fQRC3YQHTnkqbbxqqjG4Zm

PUBLIC_URL=https://reyna-azoic-lanita.ngrok-free.dev

LARAVEL_BASE_URL=http://192.168.1.2:8000
